/* ==UserStyle==
@name         chess24 - Editor enhancements
@version      1.0.0
@description  Talle image caption editor, and a usable HTML view.
@namespace    https://gitlab.com/fuxia/userstyles
@author       Fuxia Scholz
@homepageURL  https://gitlab.com/fuxia/userstyles
@supportURL   https://gitlab.com/fuxia/userstyles/-/issues
@updateURL    https://gitlab.com/fuxia/userstyles/-/raw/master/chess24-editor-enhancements.user.css
@license      MIT
==/UserStyle== */

@-moz-document domain("chess24.com") {

#single-image-editor
{
	min-height: 250px !important;
}
textarea.editor-source
{
	height: 800px !important;
	font: 15px/1.3 Consolas, monospace !important;
}
.news_edit input[name="yt0"]
{
	position:  fixed;
	top:       200px;
	left:      1000px;
	font-size: 20px
}
}