/* ==UserStyle==
@name         Hide spectators
@version      1.0.0
@description  Hides the spectators when you are playing or viewing a game.
@namespace    https://gitlab.com/fuxia/userstyles
@author       Fuxia Scholz
@homepageURL  https://gitlab.com/fuxia/userstyles
@supportURL   https://gitlab.com/fuxia/userstyles/-/issues
@updateURL    https://gitlab.com/fuxia/userstyles/-/raw/master/lichess-hide-spectators.user.css
@license      MIT
==/UserStyle== */
@-moz-document domain("lichess.org") {
	.chat__members {
		display: none !important;
	}
}