/* ==UserStyle==
@name         lichess - Inbox enhancements
@version      1.0.0
@description  Unbubbles the inbox, makes it easier to read.
@namespace    https://gitlab.com/fuxia/userstyles
@author       Fuxia Scholz
@homepageURL  https://gitlab.com/fuxia/userstyles
@supportURL   https://gitlab.com/fuxia/userstyles/-/issues
@updateURL    https://gitlab.com/fuxia/userstyles/-/raw/master/lichess-inbox.user.css
@license      MIT
==/UserStyle== */

@-moz-document domain("lichess.org") {
	
.msg-app__convo__post__text
{
	height: 8em !important;
}
.msg-app__convo__msgs__content mine,
.msg-app__convo__msgs__content their,
.msg-app__convo__msgs__content day
{
	align-self: 		normal !important;
	background:			transparent !important;
	border: 			0 !important;
	box-shadow: 		none !important;
	border-radius: 		0 !important;
}
.msg-app__convo__msgs__content their
{
    background-color:	#333 !important;
	color: 				#eee !important;
}
body.light .msg-app__convo__msgs__content their
{
    background-color:	#ccc !important;
	color: 				#333 !important;
}
.msg-app__convo__msgs__content group mine,
.msg-app__convo__msgs__content group their
{
	margin: 0 !important;
}
.msg-app__convo__msgs em
{
	font-size:			 12px !important;
}
.msg-app__convo__msgs__content day
{
	align-self: 		center !important;
}
.msg-app__convo__msgs day
{
    background: #444 !important;
    color: #fff !important;
	font-weight: bold;
	padding: 5px 40px;
	border-radius: 1em !important;
}

}